<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd"><html dir="ltr" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8; no-cache">
    <meta http-equiv="Pragma" content="no-cache">
    <title>Domowe Centrum Sterowania</title>

<style>
div {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}


</style>

<body bgcolor="#E6E6FA">

<div>
<img src="{{ url_for('static', filename = 'img/gate.png') }}" />
<form action="/auth" method="post">
  <p style="font-size: 20px;font-weight: bold;align:center">Hasło: <input type="password" style="font-size: 20px" name="passwd"> </p>
  <input type="submit" style="font-size: 20px" value="Zaloguj">
</form>

</div>

</body>

