<!DOCTYPE html>
<html>
<body>


<table align="center" border="0" width="100%">

{% for event in events %}
<tr>
	<td class="event" ><div style="height:60px;width:60px;background-image:url({{ url_for('static', filename = 'img/'+event.icon+'.png') }}); background-repeat: no-repeat;background-position: left top;  background-size:cover;"/></td>

	<td class="event" ><div class="title">{{ event.desc }}</div></td>
	<td class="event" ><div class="title">{{ event.date }}</div></td>
</tr>
{% endfor %}

</table>


</body>