<!DOCTYPE html>
<html>
<body>

<br>


<table align="center" border="0" width="80%">

<tr>
	<td>
    	<div style="height:80px;width:80px;background-image:url({{ url_for('static', filename = 'img/home.png') }}); background-repeat: no-repeat;background-position: left top;  background-size:cover;" onClick="updateContent('content', 'menu')"/>
	</td>
</tr>

<tr>
	<td class = "event">
        <div class="title">{{ info['alarm_state'] }}</div>
	</td>
</tr>

<tr>
	<td class = "event">
        <div class="title">Alarm ustawiony na godzine : {{ info['alarm_start'] }}</div>
	</td>
</tr>

<tr>
	<td class = "event">
        <hr width="80%" />
	</td>
</tr>

<tr>
	<td class = "event">
        <div class="title">{{ info['rain'] }}</div>
	</td>
</tr>

</table>
<br>

</body>