<!DOCTYPE html>
<html>
<head>
<style>
td.menu  {padding: 50px; align: center}
</style>
</head>
<body>

<br>
<table align="center" border="0" width="80%">
    <tr>
	<td class="menu">
	    <div style="height:80px;width:80px;background-image:url({{ url_for('static', filename = 'img/gate.png') }}); background-repeat: no-repeat;background-position: left top;  background-size:cover;" onClick="updateContent('infoBox', 'action/gate0')"/>
	</td>

	<td class="menu">
	    <div style="height:80px;width:80px;background-image:url({{ url_for('static', filename = 'img/gate1.png') }}); background-repeat: no-repeat;background-position: left top;  background-size:cover;" onClick="updateContent('infoBox', 'action/gate1')"/>
	</td>

	<td class="menu">
	    <div style="height:80px;width:80px;background-image:url({{ url_for('static', filename = 'img/gate1.png') }}); background-repeat: no-repeat;background-position: left top;  background-size:cover;" onClick="updateContent('infoBox', 'action/gate1_perm')"/>
	</td>
    </tr>

    <tr>

	<td class="menu">
	    <div style="height:80px;width:80px;background-image:url({{ url_for('static', filename = 'img/open.png') }}); background-repeat: no-repeat;background-position: left top;  background-size:cover;"/>
	</td>
        
	<td class="menu">
	    <div style="height:80px;width:80px;background-image:url({{ url_for('static', filename = 'img/piec.png') }}); background-repeat: no-repeat;background-position: left top;  background-size:cover;"/>
	</td>

	<td class="menu">
	    <div style="height:80px;width:80px;background-image:url({{ url_for('static', filename = 'img/grass.ico') }}); background-repeat: no-repeat;background-position: left top;  background-size:cover;"/>
	</td>
    </tr>

    <tr>
	<td class="menu">
	    <div style="height:80px;width:80px;background-image:url({{ url_for('static', filename = 'img/web_camera.png') }}); background-repeat: no-repeat;background-position: left top;  background-size:cover;"/>
	</td>

	<td class="menu">
	    <div style="height:80px;width:80px;background-image:url({{ url_for('static', filename = 'img/alarm.png') }}); background-repeat: no-repeat;background-position: left top;  background-size:cover;"/>
	</td>

	<td class="menu">
	    <div style="height:80px;width:80px;background-image:url({{ url_for('static', filename = 'img/settings.png') }}); background-repeat: no-repeat;background-position: left top;  background-size:cover;"/>
	</td>
    </tr>


</table>
<br>

</body>