<!DOCTYPE html>
<html>
<body>
<br>


<div id="bufforInformation" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <p class="question">Buforowanie....</p>
  </div>
</div>

<table align="center" border="0" width="80%">
<tr>
<td><div style="height:80px;width:80px;background-image:url({{ url_for('static', filename = 'img/home.png') }}); background-repeat: no-repeat;background-position: left top;  background-size:cover;" onClick="updateContent('content', 'menu')">
</div></td>


<td class="menu">
    <div style="height:65px;width:65px;background-image:url({{ url_for('static', filename = 'img/folder_up.png') }}); background-repeat: no-repeat;background-position: left top;  background-size:cover;" onClick="updateContent('content', 'mp3/ChdirUp')">
    </div>
</td>
</tr>

<tr>
	<td colspan="2">
		<hr width="80%">
	</td>
</tr>

</table>

<div id="table-wrapper">
  <div id="table-scroll">
<table align="center" border="0" width="80%">

{% for element in files %}
<tr onClick="updateContent('{{ element.box }}', 'mp3/{{ element.action }}?param={{ element.file }}', false)">
	<td>
	    <div style="height:60px;width:60px;background-image:url({{ url_for('static', filename =  element.icon ) }});  background-repeat: no-repeat;background-position: left top;  background-size:cover;', true)"></div>
	</td>

	<td>
	    <p style="font-size:28px; color: orange; text-align: center;">{{ element.label }}</p>
	</td>
</tr>
{% endfor %}

</table>
</div>
</div>

<table align="center" border="0" width="80%">
<tr>
	<td colspan="4">
		<hr width="80%">
	</td>
</tr>
<tr>
	<td class="menu">
	    <div style="height:80px;width:80px;background-image:url({{ url_for('static', filename = 'img/down.png') }}); background-repeat: no-repeat;background-position: left top;  background-size:cover;" onClick="updateContent('infoBox', 'radio/VolumeDown')">
	</td>
	

	<td class="menu">
	    <div style="height:80px;width:80px;background-image:url({{ url_for('static', filename = 'img/playall.png') }}); background-repeat: no-repeat;background-position: left top;  background-size:cover;" onClick="updateContent('infoBox', 'mp3/PlayMp3')">
	</td>

	<td class="menu">
	    <div style="height:80px;width:80px;background-image:url({{ url_for('static', filename = 'img/stop.png') }}); background-repeat: no-repeat;background-position: left top;  background-size:cover;" onClick="updateContent('infoBox', 'radio/Stop')">
	</td>    

	<td class="menu">
	    <div style="height:80px;width:80px;background-image:url({{ url_for('static', filename = 'img/up.png') }}); background-repeat: no-repeat;background-position: left top;  background-size:cover;" onClick="updateContent('infoBox', 'radio/VolumeUp')">
	</td>    
	    
</tr>

</table>




</br>
</body>
</html>