<!DOCTYPE html>
<html>
<body>

<br>

<table align="center" border="0" width="80%">
<tr>
	<td>
    	<div style="height:80px;width:80px;background-image:url({{ url_for('static', filename = 'img/home.png') }}); background-repeat: no-repeat;background-position: left top;  background-size:cover;" onClick="updateContent('content', 'menu')"/>
	</td>
</tr>
</table>
<br><br>

<table align="center" border="0" width="80%">
<tr>
{% for item in elements['settings'] %}
	<td>
    	    <div style="height:{{ elements['settings'][item]['icon_size'] }}px;width:{{ elements['settings'][item]['icon_size'] }}px;background-image:url({{ url_for('static', filename = 'img/' + elements['settings'][item]['icon'] ) }}); background-repeat: no-repeat;background-position: left top;  background-size:cover;" onClick="updateContent('content', 'settings/{{ elements['settings'][item]['id'] }}')"/>
	</td>
{% endfor %}
</tr>
</table>

<hr width="80%">
<br>

<table align="center" border="0" width="80%">
{% for item in elements['html_elements'] %}
<tr>
	<td>
	    <div class="title"> {{ item.title }} </div>
	</td>
	<td>
	    {{ item.xml|safe }}
	</td>
</tr>
{% endfor %}
</table>

<hr width="80%">
<br>
<input style="font-size: 20px" type="button" value="Zapisz" onClick="sendPostForm('/settings/'+ {{ page }});"/>
<br>
<br>
</body>