<!DOCTYPE html>
<html>
<body>

<br>


<table align="center" border="0" width="80%">

<tr>
	<td>
    	<div style="height:80px;width:80px;background-image:url({{ url_for('static', filename = 'img/home.png') }}); background-repeat: no-repeat;background-position: left top;  background-size:cover;" onClick="updateContent('content', 'menu')"/>
	</td>
</tr>

{% for item in sprinklerElements %}
<tr>
    <td> <button type="button" onclick="updateContent('infoBox', 'sprinkler/SprinklerOn?param={{ item.name }}')"> {{ item.desc }} </button></td>
</tr>
{% endfor %}

<tr>
    <td> <button type="button" onclick="updateContent('infoBox', 'sprinkler/SprinklerOff')">S T O P</button></td>
</tr>

</table>
<br>

</body>

