<!DOCTYPE html>
<html>
<head>
<style>
td.menu  {padding: 50px; align: center}
</style>
</head>
<body>

<br>


<table align="center" border="0" width="80%">
    <tr>
		<td>
	    	<div style="height:80px;width:80px;background-image:url({{ url_for('static', filename = 'img/dom.jpg') }}); background-repeat: no-repeat;background-position: left top;  background-size:cover;" onClick="updateContent('content', 'menu')"/>
		</td>
    </tr>

{% for event in sprinklerElements %}
    <tr>
	<td class="event" ><div style="height:60px;width:60px;background-image:url({{ url_for('static', filename = event.icon ) }}); background-repeat: no-repeat;background-position: left top;  background-size:cover;" onClick="updateContent('infoBox', 'sprinkler/SprinklerOn?param={{ event.name }}')"/></td>
	<td class="event" >{{ event.desc }}</td>
    </tr>
{% endfor %}


</table>
<br>

</body>