<!DOCTYPE html>
<html>
<head>
<style>
td.menu  {padding: 50px; align: center}
</style>
</head>
<body>

<br>


<table align="center" border="0" width="80%">
    <tr>
		<td>
	    	<div style="height:80px;width:80px;background-image:url({{ url_for('static', filename = 'img/dom.jpg') }}); background-repeat: no-repeat;background-position: left top;  background-size:cover;" onClick="updateContent('content', 'menu')"/>
		</td>
    </tr>

{% for element in weather %}
{% if element.id % 3 == 0 %}
<tr>
{% endif %}
	<td class="menu" style="font-size:25px">
		<img src="{{ element.icon }}" height="60px" width="60px" /> <br>
		{{ element.time }}<br>{{ element.temp }}<sup>o</sup>C<br>{{ element.wind }} km/h<br>{{ element.presure }}MB		
	</td>
{% if element.id % 3 == 2 %}
</tr>
{% endif %}	
{% endfor %}
<tr>
	<td colspan="3"><hr width="80%"</td>
</tr>
{% for element in dailyweather %}
	<td class="menu" style="font-size:25px">
		<img src="{{ element.icon }}" height="60px" width="60px" /> <br>
		{{ element.time }}<br>{{ element.temp }}<sup>o</sup>C<br>{{ element.wind }} km/h<br>
	</td>
{% endfor %}
<tr>

</tr>

</table>
<br>

</body>